# Exclude all these filetypes
*.png
*.pdf
*-blx.bib
*.asv
*.aux
*.bbl
*.bcf
*.bib_*.utf8
*.blg
*.dvi
*.ent
*.fff
*.fls
*.glo
*.idx
*.ilg
*.ind
*.log
*.lot
*.mod
*.nav
*.o
*.out
*.pdfsync
*.prj
*.pyc
*.run.xml
*.snm
*.sublime-*
*.svn
*.tmproj
*.toc
*.ttt
*.vrb
*.gz
*.fdb_latexmk
*.synctex.gz
*.synctex
*.synctex.gz(busy)

# But don't exclude these files
!pe_ratio.pdf